<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Puppy World</title>
    # bootstrap css 적용
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    # bootstrap js 적용
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
#bootstrap Navigation bar 적용(그냥 복붙 하면 됨.)

<nav class="navbar navbar-dark bg-primary">
{#    <a class="navbar-brand" href="{{url_for('index')}}">PUPPY WORLD</a>#}
    {{ str }}
</nav>

#HTML 상속을 위한 block content 추가.

{% block content %}
{% endblock %}

</body>
</html>
